div.title h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#search form {
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin: auto;
    width: 880px;
}

div#content-wrap {
    height: 1000px;
}